/* @font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./images/PretendardVariable.woff2') format('woff2-variations');
} */
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-Thin.woff') format('woff'); */
    src: url('../font/Pretendard-Thin.otf') format('opentype');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-ExtraLight.woff') format('woff'); */
    src: url('../font/Pretendard-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-Light.woff') format('woff'); */
    src: url('../font/Pretendard-Light.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-Regular.woff') format('woff'); */
    src: url('../font/Pretendard-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-Medium.woff') format('woff'); */
    src: url('../font/Pretendard-Medium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-SemiBold.woff') format('woff'); */
    src: url('../font/Pretendard-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-Bold.woff') format('woff'); */
    src: url('../font/Pretendard-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-ExtraBold.woff') format('woff'); */
    src: url('../font/Pretendard-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('./images/Pretendard-Black.woff') format('woff'); */
    src: url('../font/Pretendard-Black.otf') format('opentype');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SCDream5';
    /* src: url('./images/Pretendard-Black.woff') format('woff'); */
    src: url('../font/SCDream5.otf') format('opentype');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SF_HailSnow';
    src: url('../font/HailSnow.otf') format('opentype');
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}