* {
  margin: 0;
  padding: 0;
}
/* html {
  width: 100%;
  font-size: 100%;
} */
body {
  width: 100vw;
  /* background-image: url("../images/HiFi.png"); */
  background-size: 100%;
  background-color: #0E0E0E;
  font-family: 'Pretendard';
  color: #F4F4F4;
  overflow-x: hidden;
  height: 100vh;
}
img {display: block;}

header {
  border-bottom: 2px solid #0E0E0E;
  box-sizing: border-box;
  width: 100vw;
  height: 90px;
  /* background-image: url("../images/HiFi.png"); */
  position: fixed;
  background-color: rgb(244, 244, 244);
  position: relative;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  font-family: 'SF_HailSnow'; 
  /* transition: all ease-in; */
}
/* header:hover{
  background-color: white;
  transition: all ease-in;
} */
header > #logo {
  position: absolute;
  /* top: 30px; */
  left: 10.4167vw;
  cursor: pointer;
  width: 7vw;
}
header > #logo > img {width: 100%;}
header > .navmenu {
  /* border: 3px solid red; */
  width: 30.8854vw;
  position: absolute;
  /* top: 30px; */
  right: 210px;
  /* margin: 34px 0 0 1126px; */
}
.navmenu ul {
  display: flex;
  justify-content: space-between;
}
.navmenu li {
  font-size: 1.1vw;
  font-weight: 600;
  display: inline;
}
#checkmenu {display: none;}
a:link {text-decoration: none; color: rgb(0, 0, 0); transition: color 0.2s ease-in-out;}
a:visited {text-decoration: none; color: rgb(0, 0, 0);}
a:hover {color: #FF43DC;}
a:active {color: #FF43DC;}

section {
  width: 100vw;
  /* border: 3px solid red; */
  box-sizing: border-box;
  background-color: #0E0E0E;
  /* visibility: hidden; */
  /* background-image: url("../images/HiFi.png"); */
}

#scrolltotap {
  position: relative;
  position: fixed;
  width: 94px;
  height: 94px;
  /* right: 4vw; */
  left: 90vw;
  bottom: 6vh;
  z-index: 100;
  cursor: pointer;
  background-image: url("../images/scrolltotap.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0; */
  transition: filter 0.2s ease-in;
  /* border: red 1px solid; */
}
/* #scrolltotap > img {width: 100%;} */
#menusilde {
  display: none;
}


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  height: 14%;
  background-color: #50EFAE;
  /* background-color: #FF43DC; */
  /* border-left: 2px solid #0E0E0E; */
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  /* border-left: 2px solid #0E0E0E; */
}