@media screen and (max-width:1099px) {
  /* 모바일 가로, 타블렛 세로 */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100vw;
    background-size: 100%;
    font-family: 'Pretendard';
    color: #363D38;
    overflow-x: hidden;
    height: 100vh;
  }
  img {display: block;}
  
  header {
    /* border: 3px solid red; */
    box-sizing: border-box;
    width: 100vw;
    height: 90px;
    /* background-image: url("../images/HiFi.png"); */
    position: fixed;
    background-color: #010101;
    position: relative;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
  }
  header > #logo {
    position: absolute;
    /* top: 30px; */
    left: 10.4167vw;
    cursor: pointer;
    width: 4.8958vw;
  }
  header > #logo > img {width: 150%;}
  header > .navmenu {
    width: 40vw;
    position: absolute;
    /* top: 30px; */
    right: 10.4167vw;
    /* margin: 34px 0 0 1126px; */
  }
  .navmenu ul {
    display: flex;
    justify-content: space-between;
  }
  .navmenu li {
    font-size: 1.7vw;
    font-weight: 600;
    display: inline;
  }
  #checkmenu {display: none;}
  a:link {text-decoration: none; color: rgb(255, 255, 255); transition: color 0.2s ease-in-out;}
  a:visited {text-decoration: none; color: rgb(255, 255, 255);}
  a:hover {color: #FFB155;}
  a:active {color: #FFB155;}
  
  section {
    width: 100vw;
    box-sizing: border-box;
  }
  
  #scrolltotap {
    position: relative;
    position: fixed;
    left: 85vw;
    bottom: 6vh;
    z-index: 100;
    cursor: pointer;
  }
  #menusilde {
    display: none;
  }



  /* 공통css */
.MENU {
  font-size: 1.3542vw;
  font-weight: 600;
  position: absolute;
  left: 10.4167vw;
  color: #5C14F4;
}
.headline {
  font-size: 2vw;
  font-weight: 700;
  position: absolute;
  left: 10.4167vw;
  line-height: 131%;
  color: #010101;
}
.explanation {
  font-size: 1.2vw;
  font-weight: 500;
  position: absolute;
  left: 10.4167vw;
  line-height: 169.3%;
  letter-spacing: -0.0260vw;
  color: #363D38;
}
.sub {
  font-weight: 700;
  font-size: 1.6667vw;
}




/* 섹션01 인트로 */
.section1 {
  height: 600px;
  background-image: url("../images/introbg.png");
  /* background-size: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  /* background-position: center; */
  position: relative;
  /* padding-top: 90px; */
}
#intro_icon {position: absolute; top: 170px; left: 10.4167vw; width: 50px;}
#intro_icon > img {max-width:100%; height:auto;}
.introtext {
  position: absolute;
  font-weight: 300;
  font-size: 1.2500vw;
  top: 240px;
  color: rgb(0, 0, 0);
  left: 10.4167vw;
}
#title {
  font-family: 'Jalnan';
  font-size: 2.3438vw;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 270px;
  left: 10.4167vw;
  line-height: 160.5%;
}
#title > span {font-size: 3.6458vw; color: #5C14F4; font-family: 'Jalnan';}
.whitebox {
  width: 100vw;
  height: 180px;
  background-color: #F8F8F8;
  position: absolute;
  top: 420px;
  /* display: none; */
}
#list {
  position: absolute;
  left: 10.4167vw;
  top: 40px;
}
#list > ul {
  list-style-type: none;
  padding-bottom: 17px;
  vertical-align: middle;
}
#list li {
  display: inline-block;
  font-size: 1.2vw;
  vertical-align: middle;
}
.name {
  font-weight: 700;
  /* padding-right: 40px; */
  color: #5C14F4;
  width: 8vw;
}
.name2 {
  font-weight: 400;
  color: #484848;
  width: 8vw;
}
.name3 {
  font-weight: 400;
  color: #484848;
}



/* 섹션2 백그라운드*/
.section2 {
  height: 550px;
  /* height: 90%; */
  position: relative;
  /* margin-top: 100px; */
  background-color: white;
}
.menu01 {
  top: 70px;
}
.head01 {
  /* position: absolute; */
  top: 120px;
  margin-left: 50%;
  width: 40vw;
  left: -20vw;
  text-align: center;
  letter-spacing: 2%;
}
.EX01 {
  top: 170px;
  margin-left: 50%;
  left: -30vw;
  width: 60vw;
  text-align: center;
}
#three1 {
  width: 59.2188vw;
  height: 24.2593vh;
  /* display: flex;
  justify-content: space-between; */
  position: absolute;
  /* left: 18.9063vw; */
  top: 260px;
  opacity: 0;
  /* transition: opacity 0.6s ease-in-out; */
}
#animation {opacity: 1;}

.graph {
  width: 13.6458vw;
  height: 24.2593vh;
  position: absolute;
}
.graph img {width: 100%;}
.graph1 {left: 18.9063vw;}
.graph3 {left: 44.5833vw;}
.graph4 {left: 66.9792vw;}
.problem {
  top: 440px;
  color: #010101;
}
.comment1 {
  position: absolute;
  left: 17.8021vw;
  font-size: 1.5625vw;
  font-weight: 600;
  /* width: 16.0938vw; */
}
.comment2 {
  position: absolute;
  left: 43vw;
  font-size: 1.5625vw;
  font-weight: 600;
  /* width: 16.1979vw; */
}
.comment3 {
  position: absolute;
  left: 65.5vw;
  font-size: 1.5625vw;
  font-weight: 600;
  /* width: 16.7708vw; */
}
.yellow {position: absolute; display: inline-block; height: 2.1vh; background-color: #FFB155;}
.boxline1 {width: 0vw; top: 440px; left: 27.8vw;}
.boxline2 {width: 0vw; top: 440px; left: 50.3vw;}
.boxline3 {width: 0vw; top: 440px; left: 75.9vw;}





/* 섹션3 오버뷰 */
.section3 {
  height: 320px;
  background-image: url("../images/overviewbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* filter: brightness(80%); */
  position: relative;
}
.menu02 {
  color: white;
  top: 60px;
  color: #FFB155;
}
.head02 {
  color: white;
  position: absolute;
  top: 130px;
  line-height: 113.8%;
}
.EX02 {
  color: rgb(197, 197, 197);
  position: absolute;
  top: 190px;
  font-weight: 300;
}


/* 섹션4 유저 인사이트 */
.section4 {
  height: 500px;
  background-color: white;
  position: relative;
}
.menu03 {
  position: absolute;
  top: 120px;
  font-weight: 600;
}
.head03 {
  position: absolute;
  top: 190px;
}
.EX03 {
  position: absolute;
  top: 280px;
}
.grid50 {width: 47%;}
/* .userbox {position: absolute; right: 0vw; width: 53%;} */
/* .userbox img {width: 100%;} */
.user1 {position: absolute; top: 9%; right: 20vw; width: 34.9479vw; height: 21.6667vh; opacity: 0;}
.user1 > img {width: 100%;}
.user2 {position: absolute; top: 36%; right: 9.3750vw; width: 34.9479vw; height: 19.7222vh;}
.user2 > img {width: 100%;}
.user3 {position: absolute; top: 63%; right: 20vw; width: 34.9479vw; height: 19.0741vh;}
.user3 > img {width: 100%;}




/* 섹션5 프로젝트 골 */
.section5 {
  height: 600px;
  background-color: #F8F8F8;
  position: relative;
}
.menu04 {
  position: absolute;
  top: 70px;
}
.head04 {
  position: absolute;
  top: 150px;
  width: 25vw;
  margin-left: 50%;
  left: -12.5vw;
}
.EX04 {
  position: absolute;
  top: 210px;
  left: 26vw;
  width: 60vw;
  margin-left: 50%;
  left: -30vw;
  text-align: center;
}
.graph2 {
  width: 70vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 350px;
  left: 16.5vw;
  opacity: 0;
}
.ellipse {
  position: relative;
  width: 20vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipse > img {width: 100%;}
.text {
  color: #5C14F4;
  font-size: 1.3vw;
  font-weight: 600;
  position: absolute;
  top: 30px;
  text-align: center;
  line-height: 160%;
  width: 100%;
}



/* 섹션7 네이밍 */
.section7 {height: 500px; background-color: white; position: relative;}
.menu06 {
  position: absolute;
  top: 80px;
}
span {
  font-family: sans-serif;
}
.head05 {
  /* position: absolute; */
  top: 150px;
  margin-left: 50%;
  width: 19vw;
  left: -9.5vw;
}
.Naming {
  font-weight: 800;
  font-size: 4.1667vw;
  position: absolute;
  top: 210px;
  left: 25vw;
  color: #010101;
}
.promi {color: #5C14F4; font-weight: 800; font-family: 'Pretendard';}
.naming {
  font-weight: 500;
  font-size: 1.6667vw;
  position: absolute;
  top: 270px;
  color: #363D38;
}
.idea1 {left: 30vw;}
.idea2 {left: 50.3vw;}
.idea3 {left: 66.5vw; color: #5C14F4;}
.EX05 {
  position: absolute;
  text-align: center;
  top: 330px;
  /* left: 29.1667vw; */
  width: 46vw;
  margin-left: 50%;
  left: -23vw;
  color: #747474;
}



/* 섹션8 디자인 키워드 */
.section8 {
  background-image: url(../images/Designkeywordbg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: brightness(60%);
  height: 400px;
  position: relative;
  overflow: hidden;
}
.menu07 {
  color: #FFB155;
  position: absolute;
  top: 70px;
}
#MARQUEE {
  position: absolute;
  top: 140px;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-around;
}



/* 섹션9 타이포 그래피 */
.section9 {height: 350px; background-color: white; position: relative;
/* border: solid 1px red; */
}
.menu08 {
  position: absolute;
  top: 70px;
}
.Pretendard {
  position: absolute;
  left: 10.4167vw;
  top: 100px;
}
.Typobox {
  position: absolute;
  left: 20.7vw;
  top: 100px;
}
.typo {
  font-weight: 700;
  font-size: 16vw;
  color: #010101;
}
.Pretendard {
  position: absolute;
  top: 280px;
  left: 22.3958vw;
  color: #010101;
}
.fontbox {
  position: absolute;
  left: 50.5208vw;
  top: 130px;
  width: 39.0625vw;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fontbox li {display: inline-block; color: #010101;}
.fontweight {
  font-weight: 400;
  font-size: 1.25vw;
  width: 6.6667vw;
}
.size {
  font-size: 2.2917vw;
  vertical-align: middle;
}
.Light{font-weight: 300;}
.Medium{font-weight: 500;}
.Bold{font-weight: 600;}
.Black{font-weight: 900;}


/* 섹션10 컬러 */
.section10 {height: 350px; background-color: white; position: relative;
  /* border: solid 1px red; */
}
.menu09 {
  position: relative;
  top: 20px;
}
.EX06 {
  position: absolute;
  top: 100px;
}
#color {
  position: absolute;
  left: 10.4167vw;
  top: 160px;
  width: 79.1667vw;
}
#color img {width: 100%;}

.HD {
  font-family: 'Pretendard';
  font-weight: 700;
  font-size: 2.0833vw;
  line-height: 115.8%;
  line-height: 131%;
}


/* 섹션11 로고아이콘 */
.section11 { height: 520px; background-color: white; position: relative;
  /* border: solid 1px red; */
}
.menu10 {
  position: absolute;
  top: 50px;
}
.logocontent {
  position: absolute;
  top: 100px;
}
.logodesign {position: absolute; width: 15.6771vw; height: 35.4630vh;}
.logodesign > img {width: 100%;}
.logo1 {left: 17.2917vw;}
.logo2 {left: 42.5000vw;}
.logo3 {left: 69.8438vw;}
.arrow1 {position: absolute; left: 37.8125vw; top: 80px;}
.arrow2 {position: absolute; left: 64.1667vw; top: 80px;}
.EX07 {
  position: absolute;
  text-align: center;
  top: 390px;
  left: 34vw;
  color: black;
  font-size: 1.2500vw;
}


/* 섹션11-(1)아이콘 */
.section11_2 {height: 700px; background-color: white; position: relative;
  /* border: solid 1px red; */
}
#uiuxicon {position: absolute; top: 100px; left: 41.5104vw; width: 12.2068vw; height: 18.6380vh;}
#uiuxicon > img {width: 100%;}
.EX08 {
  color: black;
  font-size: 1.2500vw;
  position: absolute;
  top: 250px;
  left: 27.2917vw;
}
.line {position: absolute; left: 49.8958vw; top: 330px; height: 11.2037vh;}
.line > img {width: 100%;}
.iconcontent {
  position: absolute;
  width: 43.5417vw;
  height: 14.0741vh;
  top: 500px;
  left: 28vw;
}
.iconcontent > img {width: 100%;}


/* 서비스 서론 */
.section12 {
  height: 430px;
  background-color: #FFB155;
  position: relative;
}
.starttext {position: absolute; width: 100%; text-align: center; top: 50px; font-size: 3.4375vw; font-family: 'Jalnan'; color: white;}
.starttext > span {color: #5C14F4; font-family: 'Jalnan';}
.widthbox {width: 100%; display: flex; justify-content: center;}
.startphone {position: absolute; width: 300px;}
.startphone > img {width: 100%;}


/* 섹션13 홈 */
.section13 {
  height: 1200px;
  background-color: white;
  position: relative;
}
.Homearrow {
  position: absolute;
  /* width: 4.9479vw; */
  height: 8.5185vh;
  /* left: 47.4479vw; */
  width: 60px;
  margin-left: 50%;
  left: -30px;
  top: 120px;
}
.Homearrow > img {width: 100%;}
.Homescreen {
  position: absolute;
  /* left: 38.2813vw; */
  top: 250px;
  /* width: 23.3854vw; */
  width: 250px;
  margin-left: 50%;
  left: -125px;
  height: 131.6667vh;
}
.Homescreen > img {width: 100%;}
.num {width: 3.0729vw; height: 3;}
.num > img {width: 65%;}
.topleft {position: absolute; left: 18vw; top: 350px;}
.middleright {position: absolute; left: 69.2708vw; top: 600px;}
.bottomleft {position: absolute; left: 18vw; top: 830px;}
.hometext {
  font-size: 1.1458vw; 
  font-weight: 500;
  font-family: 'Pretendard';
  color: #6F6F6F;
}
.hometext > span {color: #010101; font-weight: 800; font-size: 1.6667vw; font-family: 'Pretendard'; line-height: 250%;}
.homeleftline1 {position: absolute; left: 18vw; top: 50px; width: 4.8958vw; height: 1.2037vh;}
.homeleftline2 {position: absolute; left: 18vw; top: 50px; width: 4.8958vw; height: 1.2037vh;}
.homerightline {position: absolute; right: 18.5vw; top: 50px; width: 4.8958vw; height: 1.2037vh;}
.homeleftline1 > img {width: 100%;}
.homeleftline2 > img {width: 100%;}
.homerightline > img {width: 100%;}



/* 섹션14 로드맵 */
.section14 {
  height: 550px;
  background-image: url('../images/roadmapbg.png');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #F8F8F8;
}
.menu13 {position: absolute; top: 100px;}
.phone2 {
  position: absolute;
  left: 51%;
  top: 90px;
  width: 210px;
  min-width: 170px;
  height: 65.0926vh;
}
.phone2 > img {width: 100%;}
.Roadmap {
  position: absolute;
  /* left: 74.0625vw; */
  right: 10.9vw;
  top: 98px;
  width: 190px;
  min-width: 150px;
  height: 62.5926vh;
}
.Roadmap > img {width: 100%;}
.hd02 {position: absolute; top: 160px; left: 10.4167vw; color: #010101; font-weight: 700;}
.hd02 > span {color: #5C14F4; font-family: 'Pretendard';}
.EX10 {position: absolute; top: 230px; color: #6F6F6F;}
.map_text {position: absolute; top: 405px; left: 30vw; font-size: 1.0417vw; color: #6F6F6F;}
.roadmapline {position: absolute; top: 20px; left: 16vw; width: 7.7083vw; height: 1.2037vh;}
.roadmapline > img {width: 100%;}



/* 섹션15 커뮤니티(1) */
.section15 {
  height: 42vh;
  min-height: 350px;
  position: relative;
  background-image: url('../images/section15.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.menu14 {position: absolute; top: 70px; left: 10.4167vw;}
.phone3 {
  position: absolute;
  top: 100px;
  /* bottom: 10vh; */
  left: 27.9688vw;
  width: 24.0625vw;
  height: 54.0741vh;
  min-width: 170px;
}
.phone3 > img { width: 100%;}
.hd03 {position: absolute; top: 150px; left: 55.3125vw;}
.hd03 > span {color: #5C14F4; font-family: 'Pretendard';}
.EX11 {position: absolute; top: 230px; left: 55.3125vw;}
.Communitytitle {width: 7.5521vw; height: 4.4444vh;}
.Communitytitle > img { width: 100%;}
.Community1 {position: absolute; left: 55.3125vw; top: 300px;}



/* 섹션16 커뮤니티(2) */
.section16 {height: 550px; background-color: #F8F8F8; position: relative;}
.phone4 {position: absolute; top: 100px; left: 69.1667vw; width: 20.4167vw; height: 39.5313vh;}
.phone4 > img {width: 100%;}
.hd03_2 {position: absolute; top: 180px; left: 10.4167vw;}
.EX11_2 {position: absolute; top: 260px; left: 10.4167vw;}
.hd03_2 > span {color: #5C14F4; font-family: 'Pretendard';}
.Communityline {position: absolute; top: 240px; left: 65vw; width: 6vw; height: 1.2037vh;}
.Communityline > img {width: 100%;}
.phone5 {position: absolute; top: 120px; left: 42vw; width: 23.9583vw; height: 49.9074vh;}
.phone5 > img {width: 100%;}
.Community2 {position: absolute; left: 10.4167vw; top: 340px;}



/* 섹션17 인포메이션 */
.section17 {
  height: 800px;
  /* background-image: url("../images/section17.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: white;
  position: relative;
  overflow: hidden;
}
.menu15 {position: absolute; top: 100px;}
.hd04 {position: absolute; left: 10.4167vw; top: 170px; text-align: center; left: 34.2708vw;}
.hd04 > span {color: #5C14F4; font-family: 'Pretendard';}
.Information {position: absolute; top: 280px; left: 6vw; width: 93.9583vw; height: 91.0185vh;}
#screen1 {position: absolute; width: 19.0104vw; height: 49.9074vh; left: 16vw; top: 90px;}
#screen1 > img {width: 100%;}
#screen2 {position: absolute; width: 19.0104vw; height: 49.9074vh; left: 54vw; top: 90px;}
#screen2 > img {width: 100%;}
#Informationphone {position: absolute; width: 20.9375vw; height: 74.7222vh; margin-left: 50%; left: -13vw;}
#Informationphone > img {width: 100%;}



/* 섹션18 케어 */
.section18 {
  height: 550px;
  /* background-image: url("../images/section18bg.png"); */
  background-color: #F8F8F8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.menu16 {position: absolute; top: 80px; left: 10.4167vw;}
.phone6 {position: absolute; right: 28vw; top: 80px; width: 18.9583vw; height: 68.9815vh;}
.phone6 > img {width: 100%;}
.phone7 {position: absolute; right: 9.1146vw; top: 80px; width: 18.8021vw; height: 68.9815vh;}
.phone7 > img {width: 100%;}
.hd05 {position: absolute; left: 10.4167vw; top: 200px;}
.careline {position: absolute; top: 280px; right: 45.4vw; width: 44.1667vw; height: 0.1852vh;}
.careline > img {width: 100%;}
.hd05 > span {color: #5C14F4; font-family: 'Pretendard';}
.EX12 {position: absolute; top: 300px;}

/* 섹션19 비디오 */
.section19 {height: 800px; background-color: white; position: relative; }
.menu17 {position: absolute; top: 100px;}
.videobox {position: absolute; top: 200px; left: 10.4167vw;
  width: 80%; height: 60%; 
  /* width: 70%; height: 71.4%; */
  /* width: 1520px; height: 855px; */
}


/* 섹션 다운로드 페이지 */
.section19_2 {
  height: 90vh;
  max-height: 750px;
  min-height: 500px;
  overflow: hidden;
  background-image: url("../images/section19_2bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hd06 {
  position: absolute;
  font-family: 'Jalnan';
  left: 10.4167vw;
  top: 205px;
  color: white;
  font-size: 3.3854vw;
}
.hd06 > span {
  font-family: 'Jalnan';
  color: #FFB155;
}
.none {display: none;}
.EX13 {
  position: absolute;
  top: 340px;
  color: #FFB155;
}

.AppStore {
  position: absolute;
  width: 13vw;
  min-width: 100px;
  top: 520px;
  left: 10.4167vw;
}
.AppStore > img {width: 100%;}
.GooglePlay {
  position: absolute;
  width: 13vw;
  min-width: 100px;
  top: 520px;
  left: 24vw;
}
.GooglePlay > img {width: 100%;}
.phone8 {
  position: absolute;
  width: 22vw;
  min-width: 350px;
  right: 13.1250vw;
  top: 70px;
}
.phone8 > img {width: 100%;}




/* 섹션20 목업 */
.section20 {
  height: 500px;
  background-image: url("../images/section20.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}


/* 푸터 */
footer {
  height: 340px;
  position: relative;
  background-color: #010101;
  clear: both;
}
.menu18 {
  position: absolute;
  top: 40px;
  color: white;
  left: 11vw;
}
.footerline {position: absolute; top: 50px; left: 17vw; width: 48.4896vw;}
.footerline > img {width: 100%;}
.copyright {
  font-size: 1.0417vw;
  font-weight: 100;
  position: absolute;
  top: 42px;
  left: 67.0833vw;
  color: white;
}
.profilebox {position: absolute; top: 100px;}
.profile1 {left: 16.9271vw; width: 110px; height: 19.0741vh;}
.profile1 > img {width: 100%;}
.profile2 {left: 44.6354vw; width: 110px; height: 20.6481vh; top: 90px;}
.profile2 > img {width: 100%;}
.profile3 {left: 72.2396vw; width: 110px; height: 18.6111vh;}
.profile3 > img {width: 100%;}

.profilename {
  font-size: 1.0417vw;
  font-weight: 500;
  position: absolute;
  top: 240px;
  color: #BDBDBD;
  list-style-type: none;
}
.profilename > li {display: inline-block;}
.profilebox1 {left: 17.8646vw;}
.profilebox2 {left: 45.5729vw;}
.profilebox3 {left: 72.1354vw;}

#Minseok{font-size: 1.4583vw; color: white; padding-right: 0.7813vw;}
#Seoyun{font-size: 1.4583vw; color: white; padding-right: 0.7813vw;}
#Jeongeun{font-size: 1.4583vw; color: white; padding-right: 0.7813vw;}

.profileIntroduce {
  font-weight: 200;
  font-size: 1.0417vw;
  line-height: 102.3%;
  color: #BDBDBD;
  position: absolute;
  top: 270px;
}
.Introduce1 {left: 16.5vw;}
.Introduce2 {left: 44.6vw;}
.Introduce3 {left: 72vw;}
}