@media screen and (max-width:600px) {
  /* 모바일 세로 */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100vw;
    background-size: 100%;
    font-family: 'Pretendard';
    color: #363D38;
    height: 100vh;
    overflow-x: hidden;
  }
  img {display: block;}
  header {
    box-sizing: border-box;
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: #010101;
    position: relative;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
  }
  header > #logo {
    position: absolute;
    /* top: 30px; */
    left: 4vw;
    cursor: pointer;
    width: 70px;
  }
  header > #logo > img {width: 100%;}
  a:link {
    text-decoration: none;
    color: #010101;
    transition: color 0.2s ease-in-out;
    /* width: 100%; */
    background-color: white;
  }
  a:visited {text-decoration: none; color: #010101;}
  a:hover {color: #FFB155; background-color: #010101;}
  a:active {color: #FFB155;}
  
  section {
    width: 100vw;
    box-sizing: border-box;
  }
  
  #scrolltotap {
    position: relative;
    position: fixed;
    width: 65px;
    height: 65px;
    /* right: 7vw; */
    left: 80vw;
    bottom: 6vh;
    z-index: 100;
    cursor: pointer;
    background-image: url("../images/scrolltotap.png");
    background-size: 100%;
    transition: filter 0.2s ease-in;
  }

  .navmenu {display: none;}
  #checkmenu {display: block;}
  .btn {
    /* background-color: #010101; */
    /* background-image: url("../images/hamburger.png"); */
    /* background-size: 100%; */
    width: 30px;
    height: 30px;
    position: absolute;
    right: 6vw;
    top: 12px;
    cursor: pointer;
  }
  #btn2 {display: none;}
  #menusilde {
    display: none;
    list-style-type: none;
    position: absolute;
    /* display: block; */
    background-color: #ffffff;
    width: 100vw;
    top: 50px;
    text-align: center;
    /* border: 2px #010101 solid; */
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  #menusilde li {
    /* padding: 10px; */
    list-style-type: none;
    /* border: solid 2px red; */
  }
  #menusilde.open ul {
    display: block;
  }
  #menusilde li > a {display: inline-block; width: 100%; padding: 10px 15px 10px 5px; border-bottom: solid 1px #afafaf;}

  body::-webkit-scrollbar {
    width: 13px;
    display: none;
  }
  
  body::-webkit-scrollbar-thumb {
    height: 20%;
    background-color: #525252;
    display: none;
    /* border-radius: 10px; */
  }
  body::-webkit-scrollbar-track {
    background-color: #F8F8F8;
    display: none;
  }







    /* 공통css */
.MENU {
  font-size: 3vw;
  font-weight: 600;
  position: absolute;
  left: 10.4167vw;
  color: #5C14F4;
}
.headline {
  font-size: 5vw;
  font-weight: 700;
  position: absolute;
  left: 10.4167vw;
  line-height: 131%;
  color: #010101;
}
.explanation {
  font-size: 3vw;
  font-weight: 500;
  position: absolute;
  left: 10.4167vw;
  line-height: 150.3%;
  letter-spacing: -0.0260vw;
  color: #363D38;
}
.sub {
  font-weight: 700;
  font-size: 1.6667vw;
}
.HD {
  font-family: 'Pretendard';
  font-weight: 700;
  font-size: 5vw;
  line-height: 115.8%;
  line-height: 131%;
}





/* 섹션01 인트로 */
.section1 {
  height: 600px;
  background-image: url("../images/introbg2.png");
  /* background-size: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  /* background-position: center; */
  position: relative;
  /* padding-top: 90px; */
}
#intro_icon {position: absolute; top: 120px; left: 9.3750vw; width: 50px; display: none;}
#intro_icon > img {max-width:100%; height:auto;}
.introtext {
  position: absolute;
  font-weight: 800;
  font-size: 4vw;
  top: 90px;
  color: rgb(255, 255, 255);
  left: 0vw;
  width: 100%;
  text-align: center;
}
#title {
  font-family: 'Jalnan';
  font-size: 6vw;
  color: white;
  position: absolute;
  top: 135px;
  left: 0vw;
  line-height: 180%;
  text-align: center;
  width: 100%;
}
/* #title > br {display: none;} */
#title > span {font-size: 10vw; color: #FFB155; font-family: 'Jalnan';}
.whitebox {
  width: 100vw;
  height: 110px;
  background-color: #F8F8F8;
  position: absolute;
  top: 320px;
  display: none;
}
#list {
  position: absolute;
  left: 4vw;
  top: 15px;
}
#list > ul {
  list-style-type: none;
  padding-bottom: 10px;
  vertical-align: middle;
}
#list li {
  display: inline-block;
  font-size: 1.2vw;
  vertical-align: middle;
}
.name {
  font-weight: 700;
  /* padding-right: 40px; */
  color: #5C14F4;
  width: 9vw;
}
.name2 {
  font-weight: 400;
  color: #484848;
  width: 8vw;
}
.name3 {
  font-weight: 400;
  color: #484848;
}



/* 섹션2 백그라운드*/
.section2 {
  height: 570px;
  /* height: 90%; */
  position: relative;
  /* margin-top: 100px; */
  background-color: white;
}
.menu01 {
  top: 50px;
}
.head01 {
  /* position: absolute; */
  top: 130px;
  margin-left: 50%;
  width: 40vw;
  left: -35vw;
  text-align: center;
  letter-spacing: 2%;
  width: 70%;
}
.EX01 {
  top: 230px;
  margin-left: 50%;
  left: -30vw;
  width: 60vw;
  text-align: center;
}
#three1 {
  width: 59.2188vw;
  height: 24.2593vh;
  /* display: flex;
  justify-content: space-between; */
  position: absolute;
  /* left: 18.9063vw; */
  top: 370px;
  opacity: 0;
  /* transition: opacity 0.6s ease-in-out; */
}
#animation {opacity: 1;}

.graph {
  width: 13.6458vw;
  height: 24.2593vh;
  position: absolute;
}
.graph img {width: 100%;}
.graph1 {left: 18.9063vw;}
.graph3 {left: 44.5833vw;}
.graph4 {left: 66.9792vw;}
.problem {
  top: 460px;
  color: #000000;
}
.comment1 {
  position: absolute;
  left: 16vw;
  font-size: 2vw;
  font-weight: 600;
  /* width: 20%; */
}
.comment2 {
  position: absolute;
  left: 43vw;
  font-size: 2vw;
  font-weight: 600;
  /* width: 16.1979vw; */
}
.comment3 {
  position: absolute;
  left: 65.5vw;
  font-size: 2vw;
  font-weight: 600;
  /* width: 16.7708vw; */
}
.yellow {display: none; position: absolute; display: inline-block; height: 19px; background-color: #FFB155;}
.boxline1 {display: none; width: 0vw; top: 460px; left: 30vw;}
.boxline2 {display: none; width: 0vw; top: 460px; left: 52vw;}
.boxline3 {display: none; width: 0vw; top: 460px; left: 80vw;}
/* .yellow {position: absolute; display: inline-block; height: 19px; background-color: #FFB155;}
.boxline1 {width: 0vw; top: 460px; left: 30vw;}
.boxline2 {width: 0vw; top: 460px; left: 52vw;}
.boxline3 {width: 0vw; top: 460px; left: 80vw;} */




/* 섹션3 오버뷰 */
.section3 {
  height: 340px;
  background-image: url("../images/overviewbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* filter: brightness(80%); */
  position: relative;
}
.menu02 {
  color: white;
  top: 40px;
  color: #FFB155;
}
.head02 {
  color: white;
  position: absolute;
  top: 100px;
  line-height: 113.8%;
}
.EX02 {
  color: rgb(197, 197, 197);
  position: absolute;
  top: 160px;
  font-weight: 300;
  width: 60%;
}


/* 섹션4 유저 인사이트 */
.section4 {
  height: 800px;
  background-color: white;
  position: relative;
}
.menu03 {
  position: absolute;
  top: 50px;
  font-weight: 600;
}
.head03 {
  position: absolute;
  top: 130px;
  margin-left: 0%;
  width: 100%;
  left: 0;
  text-align: center;
}
.head03 > br { display: none;}
.EX03 {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
  margin-left: 0%;
  left: 0vw;
}
.grid50 {width: 47%;}
.userbox {
  position: absolute;
  /* left: 4vw; */
  top: 35%;
  /* border: 1px red solid; */
  width: 100%;
  height: 550px;
}
/* .userbox {position: absolute; right: 0vw; width: 53%;} */
/* .userbox img {width: 100%;} */
.user1 {position: absolute; top: 9%; left: 15vw; width: 70vw; opacity: 0;}
.user1 > img {width: 100%;}
.user2 {position: absolute; top: 36%; right: 15vw; width: 70vw;}
.user2 > img {width: 100%;}
.user3 {position: absolute; top: 63%; left: 15vw; width: 70vw;}
.user3 > img {width: 100%;}




/* 섹션5 프로젝트 골 */
.section5 {
  height: 400px;
  background-color: #F8F8F8;
  position: relative;
}
.menu04 {
  position: absolute;
  top: 50px;
}
.head04 {
  position: absolute;
  text-align: center;
  top: 130px;
  width: 100%;
  margin-left: 0%;
  left: 0;
  font-size: 5vw;
}
.EX04 {
  position: absolute;
  top: 130px;
  left: 26vw;
  width: 69vw;
  margin-left: 50%;
  left: -34.5vw;
  text-align: center;
  display: none;
}
.graph2 {
  width: 80vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 200px;
  left: 10vw;
  opacity: 0;
}
.ellipse {
  position: relative;
  width: 30vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipse > img {width: 100%;}
.text {
  color: #5C14F4;
  font-size: 1.3vw;
  font-weight: 600;
  position: absolute;
  top: 35px;
  text-align: center;
  line-height: 160%;
  width: 100%;
}



/* 섹션7 네이밍 */
.section7 {height: 450px; background-color: white; position: relative;}
.menu06 {
  position: absolute;
  top: 50px;
}
span {
  font-family: sans-serif;
}
.head05 {
  /* position: absolute; */
  top: 120px;
  margin-left: 0;
  width: 100%;
  left: 0;
  text-align: center;
}
.Naming {
  font-weight: 800;
  font-size: 6vw;
  width: 100%;
  position: absolute;
  top: 185px;
  left: 0vw;
  text-align: center;
  color: #010101;
}
.promi {color: #5C14F4; font-weight: 800; font-family: 'Pretendard';}
.naming {
  font-weight: 500;
  font-size: 3vw;
  position: absolute;
  top: 230px;
  color: #363D38;
}
.idea1 {left: 20vw;}
.idea2 {left: 50.3vw;}
.idea3 {left: 73.3vw; color: #5C14F4;}
.EX05 {
  position: absolute;
  text-align: center;
  top: 280px;
  /* left: 29.1667vw; */
  width: 60%;
  margin-left: 50%;
  left: -30%;
  text-align: center;
  color: #747474;
}



/* 섹션8 디자인 키워드 */
.section8 {
  background-image: url(../images/Designkeywordbg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: brightness(60%);
  height: 300px;
  position: relative;
  overflow: hidden;
}
.menu07 {
  color: #FFB155;
  position: absolute;
  top: 40px;
}
#MARQUEE {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
}
/* .flow-container {
  width: 100vw;
}
.wrap {list-style-type: none; display: flex; flex-wrap: nowrap; white-space: nowrap;}
.wrap > li {
  display: inline-block;
  font-size: 6vw;
  font-weight: 300;
  font-family: 'Pretendard';
  margin-left:3vw;
  margin-right:3vw;
  color: #afafaf;
}
.wrapleft {animation: marquee 60s linear infinite;}
.wrapright {animation: marquee2 60s linear infinite;} */





/* 섹션9 타이포 그래피 */
.section9 {height: 320px; background-color: white; position: relative;
/* border: solid 1px red; */
}
.menu08 {
  position: absolute;
  top: 40px;
}
.Typobox {
  position: absolute;
  left: 12vw;
  top: 85px;
}
.typo {
  font-weight: 700;
  font-size: 22vw;
  color: #010101;
}
.Pretendard {
  position: absolute;
  top: 210px;
  left: 11vw;
  color: #010101;
  font-size: 3vw;
}
.fontbox {
  position: absolute;
  left: 48vw;
  top: 100px;
  width: 40vw;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fontbox li {display: inline-block; color: #010101;}
.fontweight {
  font-weight: 400;
  font-size: 2vw;
  width: 9vw;
}
.size {
  font-size: 3vw;
  vertical-align: middle;
}
.Light{font-weight: 300;}
.Medium{font-weight: 500;}
.Bold{font-weight: 600;}
.Black{font-weight: 900;}


/* 섹션10 컬러 */
.section10 {height: 250px; background-color: white; position: relative;
  /* border: solid 1px red; */
}
.menu09 {
  position: relative;
  top: 20px;
}
.EX06 {
  position: absolute;
  top: 90px;
  width: 81%;
}
#color {
  position: absolute;
  left: 10.4167vw;
  top: 170px;
  width: 79.1667vw;
}
#color img {width: 100%;}

/* 섹션11 로고아이콘 */
.section11 { height: 440px; background-color: white; position: relative;
  /* border: solid 1px red; */
}
.menu10 {
  position: absolute;
  top: 50px;
}
.logocontent {
  position: absolute;
  top: 125px;
}
.logodesign {position: absolute; width: 20vw; height: 35.4630vh;}
.logodesign > img {width: 100%;}
.logo1 {left: 11vw;}
.logo2 {left: 40vw;}
.logo3 {left: 69.8438vw;}
.arrow1 {position: absolute; left: 34.5vw; top: 55px; width: 2vw;}
.arrow1 > img {width: 100%;}
.arrow2 {position: absolute; left: 63.7vw; top: 55px; width: 2vw;}
.arrow2 > img {width: 100%;}
.EX07 { 
  position: absolute;
  text-align: center;
  top: 300px;
  left: 0vw;
  width: 100%;
  color: black;
  font-size: 3vw;
}


/* 섹션11-(1)아이콘 */
.section11_2 {height: 670px; background-color: white; position: relative;
  /* border: solid 1px red; */
}
#uiuxicon {position: absolute; top: 120px; left: 30vw; width: 30vw;}
#uiuxicon > img {width: 100%;}
.EX08 {
  color: black;
  font-size: 3vw;
  position: absolute;
  top: 270px;
  left: 14vw;
  width: 70%;
  text-align: center;
}
.line {position: absolute; left: 49.8958vw; top: 350px; height: 11.2037vh;}
.line > img {width: 100%;}
.iconcontent {
  position: absolute;
  width: 70vw;
  top: 520px;
  left: 15vw;
}
.iconcontent > img {width: 100%;}


/* 서비스 서론 */
.section12 {
  height: 300px;
  background-color: #FFB155;
  position: relative;
  /* background-image: url('../images/section12.png'); background-size: cover; background-repeat: no-repeat; overflow: hidden; */
}
.starttext {position: absolute; width: 100%; left: 0; text-align: center; top: 40px; font-size: 5vw; font-family: 'Jalnan'; color: white;}
.starttext > span {color: #5C14F4; font-family: 'Jalnan';}
.widthbox {width: 100%; display: flex; justify-content: center;}
.startphone {position: absolute; width: 210px;}
.startphone > img {width: 100%;}


/* 섹션13 홈 */
.section13 {
  height: 800px;
  background-color: white;
  position: relative;
}
.Homearrow {
  position: absolute;
  /* width: 10vw; */
  width: 50px;
  /* height: 8.5185vh; */
  /* left: 45vw; */
  top: 70px;
  left: -15px;
}
.Homearrow > img {width: 100%;}
.Homescreen {
  position: absolute;
  /* left: 34vw; */
  top: 160px;
  /* width: 32vw; */
  width: 180px;
  left: -80px;
  /* height: 131.6667vh; */
}
.Homescreen > img {width: 100%;}
.num {width: 3.0729vw; height: 2vh;}
.num > img {width: 75%;}
.topleft {position: absolute; left: 6.5vw; top: 255px;}
.middleright {position: absolute; left: 73vw; top: 450px;}
.bottomleft {position: absolute; left: 6.5vw; top: 650px;}
.hometext {
  font-size: 2vw; 
  font-weight: 500;
  font-family: 'Pretendard';
  color: #6F6F6F;
}
.hometext > span {color: #010101; font-weight: 800; font-size: 3vw; font-family: 'Pretendard'; line-height: 190%;}
.homeleftline1 {position: absolute; left: 25vw; top: 5px; width: 8vw;}
.homeleftline2 {position: absolute; left: 25vw; top: 5px; width: 8vw;}
.homerightline {position: absolute; right: 25vw; top: 5px; width: 6vw;}
.homeleftline1 > img {width: 100%;}
.homeleftline2 > img {width: 100%;}
.homerightline > img {width: 100%;}



/* 섹션14 로드맵 */
.section14 {
  max-height: 750px;
  height: 750px;
  background-image: url('../images/roadmapbg.png');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #F8F8F8;
}
.menu13 {position: absolute; top: 40px;}
.phone2 {
  position: absolute;
  left: 10vw;
  top: 270px;
  max-width: 220px;
  width: 43vw;
}
.phone2 > img {width: 100%;}
.Roadmap {
  position: absolute;
  left: 50vw;
  top: 280px;
  max-width: 200px;
  width: 39vw;
}
.Roadmap > img {width: 100%;}
.hd02 {position: absolute; top: 100px; left: 10.4167vw; color: #010101; font-weight: 700;}
.hd02 > span {color: #5C14F4; font-family: 'Pretendard';}
.EX10 {position: absolute; top: 190px; color: #6F6F6F;}
.map_text {display: none; position: absolute; top: 300px; left: 30vw; font-size: 0.9vw; color: #6F6F6F;}
.roadmapline {position: absolute; top: 10px; left: 18vw; width: 7.7083vw; height: 1.2037vh;}
.roadmapline > img {width: 100%;}



/* 섹션15 커뮤니티(1) */
.section15 {
  height: 310px;
  position: relative;
  background-image: url('../images/section15.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.menu14 {position: absolute; top: 30px; left: 10.4167vw;}
.phone3 {
  position: absolute;
  top: 90px;
  /* bottom: 10vh; */
  left: 10vw;
  width: 35vw;
}
.phone3 > img { width: 100%;}
.hd03 {position: absolute; top: 120px; left: 49vw; font-size: 4vw;}
.hd03 > span {color: #5C14F4; font-family: 'Pretendard';}
.EX11 {position: absolute; top: 185px; left: 49vw;}
.Communitytitle {width: 13vw;}
.Communitytitle > img { width: 100%;}
.Community1 {position: absolute; left: 49vw; top: 250px;}



/* 섹션16 커뮤니티(2) */
.section16 {height: 500px; background-color: #F8F8F8; position: relative;}
.phone4 {position: absolute; top: 170px; left: 60vw; width: 30vw;}
.phone4 > img {width: 100%;}
.hd03_2 {position: absolute; top: 90px; left: 10vw; font-size: 4vw;}
.EX11_2 {position: absolute; top: 160px; left: 10vw;}
.hd03_2 > span {color: #5C14F4; font-family: 'Pretendard';}
.Communityline {position: absolute; top: 279px; left: 57vw; width: 7vw;}
.Communityline > img {width: 100%;}
.phone5 {position: absolute; top: 270px; left: 28vw; width: 30vw;}
.phone5 > img {width: 100%;}
.Community2 {position: absolute; left: 10vw; top: 230px;}



/* 섹션17 인포메이션 */
.section17 {
  height: 600px;
  /* background-image: url("../images/section17.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: white;
  position: relative;
  overflow: hidden;
}
.menu15 {position: absolute; top: 50px;}
.hd04 {font-size: 4vw; position: absolute; left: 0vw; top: 120px; text-align: center; left: 0vw; width: 100%;}
.hd04 > span {color: #5C14F4; font-family: 'Pretendard';}
.Information {position: absolute; top: 225px; left: 6vw; width: 93.9583vw; height: 91.0185vh;}
#screen1 {position: absolute; width: 30vw;left: 0vw; top: 40px;}
#screen1 > img {width: 100%;}
#screen2 {position: absolute; width: 30vw; left: 55.5vw; top: 40px;}
#screen2 > img {width: 100%;}
#Informationphone {position: absolute; width: 30vw; margin-left: 0%; left: 27vw;}
#Informationphone > img {width: 100%;}



/* 섹션18 케어 */
.section18 {
  height: 800px;
  /* background-image: url("../images/section18bg.png"); */
  background-color: #F8F8F8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.menu16 {position: absolute; top: 50px; left: 10.4167vw;}
.phone6 {position: absolute; left: 9vw; right: 0vw; top: 260px; width: 40vw;}
.phone6 > img {width: 100%;}
.phone7 {position: absolute; right: 9vw; top: 350px; width: 40vw;}
.phone7 > img {width: 100%;}
.hd05 {position: absolute; left: 10.4167vw; top: 110px; font-size: 4vw;}
.careline {display: none; position: absolute; top: 160px; right: 45.4vw; width: 44.1667vw; height: 0.1852vh;}
.careline > img {width: 100%;}
.hd05 > span {color: #5C14F4; font-family: 'Pretendard';}
.EX12 {position: absolute; top: 180px;}

/* 섹션19 비디오 */
.section19 {height: 600px; background-color: white; position: relative; }
.menu17 {position: absolute; top: 50px;}
.videobox {position: absolute; top: 130px; left: 10vw;
  width: 80%; height: 60%; 
  /* width: 70%; height: 71.4%; */
  /* width: 1520px; height: 855px; */
}


/* 다운로드 페이지 */
.section19_2 {
  height: 400px;
  /* max-height: 750px; */
  /* min-height: 500px; */
  overflow: hidden;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5C14F4;
  position: relative;
}
.hd06 {
  position: absolute;
  font-family: 'Jalnan';
  left: 10.4167vw;
  top: 60px;
  color: white;
  font-size: 8vw;
}
.hd06 > span {
  font-family: 'Jalnan';
  color: #FFB155;
}
.none {display: inline;}
.EX13 {
  position: absolute;
  top: 340px;
  color: #FFB155;
  display: none;
}

.AppStore {
  position: absolute;
  width: 30vw;
  max-height: 202px;
  min-width: 180px;
  top: 270px;
  left: 10.4167vw;
}
.AppStore > img {width: 100%;}
.GooglePlay {
  position: absolute;
  width: 30vw;
  max-height: 202px;
  min-width: 180px;
  top: 270px;
  left: 50vw;
}
.GooglePlay > img {width: 100%;}
.phone8 {
  position: absolute;
  width: 22vw;
  min-width: 350px;
  right: 13.1250vw;
  top: 70px;
  display: none;
}
.phone8 > img {width: 100%;}



/* 섹션20 목업 */
.section20 {
  height: 200px;
  background-image: url("../images/section20.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}


/* 푸터 */
footer {
  height: 250px;
  position: relative;
  background-color: #010101;
  clear: both;
}
.menu18 {
  position: absolute;
  top: 20px;
  color: white;
  left: 4vw;
  font-weight: 400;
}
.footerline {position: absolute; top: 29px; left: 17vw; width: 32vw;}
.footerline > img {width: 100%;}
.copyright {
  font-size: 1.0417vw;
  font-weight: 100;
  position: absolute;
  top: 22px;
  left: 52vw;
  color: white;
}
.profilebox {position: absolute; top: 70px; height: auto;}
.profile1 {left: 10vw; width: 15vw;}
.profile1 > img {width: 100%;}
.profile2 {left: 40vw; width: 15vw; top: 60px;}
.profile2 > img {width: 100%;}
.profile3 {right: 10vw; width: 15vw;}
.profile3 > img {width: 100%;}

.profilename {
  font-size: 1.5vw;
  font-weight: 500;
  position: absolute;
  top: 170px;
  color: #BDBDBD;
  list-style-type: none;
}
.profilename > li {display: inline-block;}
.profilebox1 {left: 9vw;}
.profilebox2 {left: 39vw;}
.profilebox3 {left: 69vw;}

#Minseok{font-size: 3vw; color: white; padding-right: 0.7813vw;}
#Seoyun{font-size: 3vw; color: white; padding-right: 0.7813vw;}
#Jeongeun{font-size: 3vw; color: white; padding-right: 0.7813vw;}

.profileIntroduce {
  font-weight: 200;
  font-size: 1.0417vw;
  line-height: 102.3%;
  color: #BDBDBD;
  position: absolute;
  top: 200px;
}
.Introduce1 {left: 6vw;}
.Introduce2 {left: 37.5vw;}
.Introduce3 {left: 68.5vw;}
}