@media screen and (min-width:1401px) {

  .HD {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 2.0833vw;
    line-height: 115.8%;
    line-height: 131%;
  }
  
  
  /* 섹션11 스토리 */
  .section11 { 
    height: 2574px;
    /* background-color: white; */
    background-image: url(../images/StoryBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
  }
  .StoryLogo {
    position: absolute;
    top: 263px;
    left: 534px;
  }
  .illustration {
    position: absolute;
    top: 709px;
    left: 273px;
  }
  .Video1{
    display: block;
    position: absolute;
    border: solid 5px #f4f4f4;
    top: 1297px;
    right: 273px;
  }
  .Video2{
    display: block;
    position: absolute;
    border: solid 5px #f4f4f4;
    top: 1843px;
    left: 273px;
  }
  .Ex07{
    margin-top: 90px;
    /* text-align: left; */
    /* border: solid 2px #ff0000; */
  }
  .Ex08{
    margin-top: 90px;
  }
  .head08{
    position: absolute;
    left: 110px;
    /* text-align: center; */
  }
  .StoryText1{
    /* position: absolute; */
    /* left: 500px; */
    position: relative;
    left: 923px;
    top: 908px;
    text-align: left;
  }
  .StoryText2{
    /* position: absolute; */
    /* left: 500px; */
    position: relative;
    left: 320px;
    top: 1447px;
    text-align: right;
  }
  .StoryText3{
    /* position: absolute; */
    /* left: 500px; */
    position: relative;
    left: 823px;
    top: 2014px;
    text-align: left;
  }

  
  /* 섹션12 */
  .section12 {
    height: 1200px;
    background-color: #F4f4f4;
    position: relative;
  }
  .menu13{
    position: absolute;
    top: 230px;
    left: 225px;
    color: #0e0e0e;
    /* font-size: 42px; */
  }
  .container{
    position: absolute;
    left: 225px;
    top: 200px;
  }
  .ImgBox{
    /* box-sizing: border-box; */
    border: #0e0e0e 3px solid;
    float: left;
    height: 672px;
    margin-top: 125px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .GameImg {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(0);
    transition: transform 0.5s;
    /* overflow: hidden; */
  }
  .ButtonBox{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 100px;
    height: 800px;
    justify-content: space-between;
    /* border: #0e0e0e 3px solid; */
  }
  .Button {
    background-color: #FF43DC;
    width: 150px;
    height: 150px;
    border: #0e0e0e solid 3px;
    border-radius: 50%;
  }
  .ButtonText {
    color: #0e0e0e;
    font-weight: 600;
    /* font-family: 'Pretendard'; */
    padding-top: 5px;
    font-family: 'SF_HailSnow';
    font-size: 24px;
    border: #0e0e0e solid 3px;
    display: inline-block;
    width: 120px;
    height: 30px;
  }



  /* 섹션13*/
  .section13 { 
    height: 1200px;
    background-color: #f4f4f4;
    position: relative;
  }
  .menu14{
    color: #0e0e0e;
    position: absolute;
    top: 100px;
  }
  .Video3 {
    position: absolute;
    left: 200px;
    top: 200px;
  }
  
  
  /* 푸터 */
  footer {
    height: 1028px;
    position: relative;
    /* background-color: #010101; */
    background-image: url(../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    clear: both;
  }
}