/* 공통css */
.MENU {
  font-size: 1.3542vw;
  font-weight: 600;
  position: absolute;
  left: 10.4167vw;
  color: #50EFAE;
  /* color: #FF43DC; */
  font-family: 'SF_HailSnow';
}
.headline {
  font-size: 2.1875vw;
  font-weight: 600;
  position: absolute;
  left: 10.4167vw;
  line-height: 131%;
  color: #f4f4f4;
}
/* 노란색스판 */
.YellowColor{
  color: #e7d141;
  font-family: 'Pretendard';
}
.mint {
  color: #50EFAE;
  font-family: 'Pretendard';
}
.explanation {
  font-size: 1.0417vw;
  font-weight: 500;
  position: absolute;
  left: 10.4167vw;
  line-height: 169.3%;
  letter-spacing: -0.0260vw;
  color: #CECECE;
}
.sub {
  font-weight: 700;
  font-size: 1.6667vw;
}




/* 섹션01 인트로 */
.section1 {
  height: 100vh;
  /* background-color: #010101; */
  /* background-image: url("../images/thumbnail.png"); */
  background-size: 100%;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  /* background-position: center; */
  position: relative;
  padding-top: 70px;
}
.intro {
  width: 100%;
}
#intro_icon {position: absolute; top: 27.5vh; left: 10.4167vw; width: 200px;}
/* #intro_icon > img {max-width:100%; height:auto;} */
.introtext {
  position: absolute;
  font-weight: 300;
  font-size: 1.2500vw;
  top: 37vh;
  color: rgb(0, 0, 0);
  left: 10.4167vw;
}
#title {
  font-family: 'Jalnan';
  font-size: 2.3438vw;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 41.0370vh;
  left: 10.4167vw;
  line-height: 160.5%;
}
#title > span {font-size: 3.6458vw; color: #5C14F4; font-family: 'Jalnan';}
.whitebox {
  width: 100vw;
  height: 25.6vh;
  background-color: #F8F8F8;
  position: absolute;
  top: 74.4vh;
}
#list {
  position: absolute;
  left: 10.4167vw;
  top: 5.8333vh;
}
#list > ul {
  list-style-type: none;
  padding-bottom: 3.1481vh;
  vertical-align: middle;
}
#list li {
  display: inline-block;
  font-size: 0.9375vw;
  vertical-align: middle;
}
.name {
  font-weight: 700;
  /* padding-right: 40px; */
  color: #5C14F4;
  width: 6.1979vw;
}
.name2 {
  font-weight: 400;
  color: #484848;
  width: 6.4063vw;
}
.name3 {
  font-weight: 400;
  color: #484848;
}



/* 섹션2 백그라운드*/
.section2 {
  height: 105.8519vh;
  /* height: 90%; */
  position: relative;
  /* margin-top: 100px; */
  /* background-color: white; */
  /* border: #5C14F4 2px solid; */
}
.menu01 {
  top: 16vh;
}
.head01 {
  /* position: absolute; */
  top: 31vh;
  /* left: 28.4896vw; */
  text-align: center;
  letter-spacing: 2%;
}
.EX01 {
  top: 43vh;
  /* left: 30vw; */
  /* text-align: center; */
}
#three1 {
  width: 59.2188vw;
  height: 24.2593vh;
  /* display: flex;
  justify-content: space-between; */
  position: absolute;
  /* left: 18.9063vw; */
  top: 48.4545vh;
  opacity: 0;
  /* transition: opacity 0.6s ease-in-out; */
}
#animation {opacity: 1;}

.graph {
  width: 13.6458vw;
  height: 24.2593vh;
  position: absolute;
}
.graph img {width: 100%;}
.graph1 {left: 18.9063vw;}
.graph3 {left: 44.5833vw;}
.graph4 {left: 66.9792vw;}
.problem {
  top: 82vh;
  /* color: #010101; */
}
.comment1 {
  position: absolute;
  left: 17.8021vw;
  font-size: 1.5625vw;
  font-weight: 600;
  /* width: 16.0938vw; */
}
.comment2 {
  position: absolute;
  left: 43vw;
  font-size: 1.5625vw;
  font-weight: 600;
  /* width: 16.1979vw; */
}
.comment3 {
  position: absolute;
  left: 65.5vw;
  font-size: 1.5625vw;
  font-weight: 600;
  /* width: 16.7708vw; */
}
.yellow {position: absolute; display: inline-block; height: 3.9815vh; background-color: #FFB155;}
.boxline1 {width: 0vw; top: 82vh; left: 27.8vw;}
.boxline2 {width: 0vw; top: 82vh; left: 50.3vw;}
.boxline3 {width: 0vw; top: 82vh; left: 75.9vw;}



/* 섹션3 오버뷰 */
.section3 {
  height: 61.8519vh;
  /* background-image: url("../images/overviewbg.png"); */
  background-image: url(../images/section2Bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* filter: brightness(80%); */
  position: relative;
}
.menu02 {
  color: white;
  top: 13vh;
  color: #FFB155;
}
.head02 {
  color: white;
  position: absolute;
  top: 25vh;
  line-height: 113.8%;
}
.EX02 {
  color: rgb(197, 197, 197);
  position: absolute;
  top: 36vh;
  font-weight: 300;
}


/* 섹션4 미션 */
.section4 {
  height: 120vh;
  /* background-color: white; */
  position: relative;
  overflow: hidden;
  /* border: #5C14F4 2px solid; */
}
.menu03 {
  position: absolute;
  top: 15vh;
  font-weight: 600;
}
.head03 {
  position: absolute;
  top: 28vh;
  left: 37vw;
}
.EX03 {
  position: absolute;
  top: 41vh;
  text-align: center;
  left: 34.2vw;
}
.circle{
  position: absolute;
  top: 59vh;
  left: 14.5vw;
}
.grid50 {width: 47%;}
/* .userbox {position: absolute; right: 0vw; width: 53%;} */
/* .userbox img {width: 100%;} */
.user1 {position: absolute; top: 9%; right: 20vw; width: 34.9479vw; height: 21.6667vh; opacity: 0;}
.user1 > img {width: 100%;}
.user2 {position: absolute; top: 36%; right: 9.3750vw; width: 34.9479vw; height: 19.7222vh;}
.user2 > img {width: 100%;}
.user3 {position: absolute; top: 63%; right: 20vw; width: 34.9479vw; height: 19.0741vh;}
.user3 > img {width: 100%;}
/* .boxline4 {height: 5.5vh; width: 21.6667vw; top: 45vh; left: 10.2vw;} */



/* 섹션5 콘텐츠 */
.section5 {
  height: 110vh;
  /* background-color: #F8F8F8; */
  position: relative;
}
.menu04 {
  position: absolute;
  top: 12vh;
}
.head04 {
  position: absolute;
  top: 23.7037vh;
  /* left: 36.5104vw; */
}
.EX04 {
  position: absolute;
  top: 35vh;
  /* left: 26vw; */
  /* text-align: center; */
}
.graph2 {
  width: 70vw;
  height: 47.5926vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50vh;
  left: 14vw;
  opacity: 0;
}
.ellipse {
  position: relative;
  width: 20vw;
  height: 35.6481vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipse > img {width: 100%;}
.text {
  color: #5C14F4;
  font-size: 1.3vw;
  font-weight: 600;
  position: absolute;
  top: 14vh;
  text-align: center;
  line-height: 160%;
  width: 100%;
}



/* 섹션7 네이밍 */
.section7 {height: 70vh; background-color: white; position: relative;}
.menu06 {
  position: absolute;
  top: 8vh;
  color: #FFB155;
}
span {
  font-family: sans-serif;
}
.head05 {
  position: absolute;
  top: 18vh;
  left: 27vw;
  font-weight: 800;
  color: #010101;
}
.head05 > span {
  color: #010101;
}
.Naming {
  font-weight: 800;
  font-size: 4.1667vw;
  position: absolute;
  top: 33vh;
  left: 25vw;
  color: #010101;
}
.NamingLogo {
  position: absolute;
  top: 32vh;
  left: 23vw;
}
.promi {color: #5C14F4; font-weight: 800; font-family: 'Pretendard';}
.naming {
  font-weight: 500;
  font-size: 1.6667vw;
  position: absolute;
  top: 43.8889vh;
  color: #363D38;
}
.idea1 {left: 30vw;}
.idea2 {left: 50.3vw;}
.idea3 {left: 66.5vw; color: #5C14F4;}
.EX05 {
  position: absolute;
  text-align: center;
  top: 55vh;
  left: 29.1667vw;
  color: #747474;
}



/* 섹션8 디자인 키워드 */
.section8 {
  /* background-image: url(../images/Designkeywordbg.png); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* backdrop-filter: brightness(60%); */
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.menu07 {
  color: #FFB155;
  position: absolute;
  top: 7vh;
}




/* 섹션9 타이포 그래피 */
.section9 {
  height: 80vh;
  /* background-color: white; */
  position: relative;
}
.menu08 {
  position: absolute;
  top: 15vh;
}
.Pretendard {
  position: absolute;
  left: 10.4167vw;
  top: 220vh;
}
.Typobox {
  position: absolute;
  left: 20.7vw;
  top: 27vh;
}
.typo {
  font-weight: 700;
  font-size: 16vw;
  color: #010101;
}
.Pretendard {
  position: absolute;
  top: 62vh;
  left: 22.3958vw;
  color: #010101;
}
.fontbox {
  position: absolute;
  left: 50.5208vw;
  top: 30vh;
  width: 39.0625vw;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fontbox li {display: inline-block; color: #010101;}
.fontweight {
  font-weight: 400;
  font-size: 1.25vw;
  width: 6.6667vw;
}
.size {
  font-size: 2.2917vw;
  vertical-align: middle;
}
.Light{font-weight: 300;}
.Medium{font-weight: 500;}
.Bold{font-weight: 600;}
.Black{font-weight: 900;}


/* 섹션10 컬러 */
.section10 {
  height: 75vh;
  /* background-color: white; */
  position: relative;
}
.menu09 {
  position: relative;
  top: 10vh;
}
.EX06 {
  position: absolute;
  top: 25vh;
}
#color {
  position: absolute;
  left: 10.4167vw;
  top: 35vh;
  width: 79.1667vw;
}
#color img {width: 100%;}